@font-face { 
  font-family: 'le-murmure'; 
  font-weight: regular; 
  src: url('le-murmure.woff');
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: rgb(17, 225, 17);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);

   /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --header-font: 'LeMurmure-Regular', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-family: LeMurmure-Regular, sans-serif;
  /* font-size: var(--biggest-font-size); */
  /* font-weight: var(--font-semi-bold); */
  color: var(--first-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 10);
}

.header-left {
  width: 95px;
}

.intro__home__link {
  width: 100px;
}

.header__link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.header-right {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.intro__home__linkR {
  display: flex;
  align-items: center;
  position: relative;
  width: 100px;
}

.header-right {
  width: 95px;
}