/*=============== BASE ===============*/
*{
  font-family: LeMurmure-Regular, sans-serif;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: rgba(55,57,56,255);
}

body {
  display: fixed;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url('/assests/images/logoL.PNG'); */
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center;
  margin: 0;
  padding: 0;
}

/*=============== MAIN CONTAINER ===============*/
.main__page__container {
  background-color: transparent;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  padding-top: 21px;
  padding-left: 9px;
  top: 50%;
  width: 100%;
}

img {
  height: 100vh;
  margin-top: -20%;
  margin-left: 4%;
  z-index: 1;
}

/*=============== Enter Button ===============*/
.enter__btn {
  position: absolute;
  margin-left: -28.6%;
  margin-top: .5%;
  color: var(--neon-color);
  background-color: transparent;
  border: none;
  text-shadow: 2px 2px 1px var(--shadow-color);
  text-decoration: none;
  font-size: 4.5rem;
  cursor: pointer;
  z-index: 10;
}



