/*=============== BASE ===============*/

*{
  font-family: var(--body-font);
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: var(--body-color);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}


/*=============== CAROUSEL SECTION ===============*/

.carousel {
  display: flex;
  align-items: center;
  width: 54rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  /* border: solid 2px black; */
  z-index: 1;
}

.carousel-text {
  display: none;
  
}

.carousel-text.active {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--h3-font-size);
  transition: opacity 1s ease-in-out;
  margin-left: 4.3rem;
  opacity: 1;
}

.control,
.ready-btn {
  background-color: none;
  color: black;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ready-btn {
  padding: 2rem 4rem;
  border-radius: 0.3rem;
  color: var(--text-color);
}

.ready-btn:hover {
  font-size: var(--h1-font-size);
  color: var(--black-color-light);
  background-color: var(--neon-color);
  border-radius: 0.3rem;
}

/* .control:hover {
  background-color: var(--neon-color);
  border-radius: 0.3rem;
} */

.next-btn,
.prev-btn {
  font-family: var(--body-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-light);
  color: var(--text-color)
  padding: 0.5rem 1.6rem;
} 

.next-btn {
  margin-top: -.8%;
}

.currency-symbol {
  width: 2vw;
  height: 3vh;
  margin-bottom: -0.27rem;
  color: var(--text-color);
}

.currency-symbol2 {
  position: absolute;
  margin-left: -106.3%;
  margin-top: -2.7%;
  width: 2vw;
  height: 3vh;
}

