/*=============== BASE ===============*/

*{
  font-family: var(--body-font);
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: var(--body-color);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.header-middle {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-family: var(--header-font);
  font-size: var(--biggest-font-size);
  color: var(--neon-color);
  text-shadow: 0.07rem 0.07rem 0.07rem var(--shadow-color);
  margin-top: 2rem;
}

.header-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.home-link-img {
  display: flex;
  align-items: center;
  position: relative;
  width: 7rem;
}

.header-right {
  width: 7rem;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}


/*=============== CAROUSEL SECTION ===============*/

.carousel {
  display: flex;
  align-items: center;
  width: 54rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  /* border: solid 2px black; */
  z-index: 1;
}

.carousel-text {
  display: none;
  
}

.carousel-text.active {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--h3-font-size);
  transition: opacity 1s ease-in-out;
  margin-left: 4.3rem;
  opacity: 1;
}

.control,
.ready-btn {
  background-color: none;
  color: black;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ready-btn {
  padding: 2rem 4rem;
  border-radius: 0.3rem;
}

.ready-btn:hover {
  font-size: var(--h1-font-size);
  color: var(--shadow-color);
  background-color: var(--lighter-neon-color);
  border-radius: 0.3rem;
}

.control:hover {
  background-color: var(--neon-color);
  border-radius: 0.3rem;
}

.next-btn,
.prev-btn {
  font-family: var(--body-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-light);
  padding: 0.5rem 1.6rem;
} 

.currency-symbol {
  width: 2vw;
  height: 3vh;
  margin-bottom: -0.1rem;
}

.currency-symbol2 {
  width: 2vw;
  height: 3vh;
}

