/*=============== BASE ===============*/
*{
  font-family: var(--second-body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  background-color: var(--body-color);
}

/*=============== LESSON TITLE ===============*/
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  font-size: var(--h1-font-size);
  color: var(--black-color-light);
}

/*=============== LESSON CONTAINER ===============*/
.lesson-card-container {
  height: 70vh;
  transform-style: preserve-3d;
  position: relative;
}

/*=============== Lesson Cards ===============*/
.lesson-card {
  width: 60%;
  height: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top:18%;
  left: 20%;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(.3em .3em .5em rgba(0, 0, 0, 0.2));
  background-color: var(--white-color);
  padding: 5%;
}

.text {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  line-height: 130%;
}

/*=============== Card Buttons ===============*/
button {
  display: block;
  position: absolute;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  z-index: 1;
}

button:first-of-type {
  left: 10%;
}

button:last-of-type {
  right: 10%;
}

/*=============== Card Count Display ===============*/
.card-num-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  color: var(--text-color);
}