@font-face { 
  font-family: 'le-murmure'; 
  font-weight: regular; 
  src: url('le-murmure.woff');
}

*{
  font-family: LeMurmure-Regular, sans-serif;
  color: black;
  background-color: rgba(55,57,56,255);
}

.header {
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.header-left {
  width: 95px;
}

@media (max-width: 800px) {
  .header-left {
    width: unset;
  }
}

.intro__home__link {
  width: 100px;
}

.header__link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  font-size: 19.2px;
  height: 38px;
  color: rgb(17, 225, 17);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 10);
}

.header-right {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.intro__home__linkR {
  display: flex;
  align-items: center;
  position: relative;
  width: 100px;
}

.header-right {
  width: 95px;
}